#libft
libft/*

# Main
main*

#tmp
.*.swp

# Object files
*.o

# Libraries
*.lib
*.a

# Executables
*.exe
*.out

# Debug files
*.dSYM/
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
